/* Common Shared style */
body{
    font-family: "Open Sans", sans-serif;  
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    background-color:#FD6E0A;
    border-radius: 5px;
    padding: 12px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}

/* Nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 220px;

}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right:50px;
}
nav a{
    text-decoration: none;
    color: gray;

}

/* header related style */

.header{
    background-color: #FFF8F3;
}
.banner{
    display:flex;
    padding:30px 30px 30px 150px;
}
.profile-picture{
    width: 500px;
}