/* Common Shared style */
body{
    font-family: "Open Sans", sans-serif;  
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    background-color:#FD6E0A;
    border-radius: 5px;
    padding: 12px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575;
    text-align: center;
    font-size: 18px;
}
/* Nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 170px;
    padding-right: 170px;

}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right:50px;
}
nav a{
    text-decoration: none;
    color: gray;

}

/* header related style */

.header{
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    display:flex;
    padding:30px 30px 0px 150px;
    align-items: center;
    justify-content:space-between;

}
.banner-content{
    max-width: 500px;

}
.banner .profile-picture{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top:5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 5px;
}

/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about section style */

.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
    
}
.about-info-container{
    display:flex ;
   justify-content: space-between;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 150px;
}
/* what i do section style */
.skill{
    display: flex;
    gap: 24px;
    
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 6px 50px 0px rgba(0 ,0 ,0 ,0.06);
}
.skill-description{
    color: gray;
}

/* resume related design */

.resume-container{
    display: flex;
   gap:50px;
}
.resume-column-title{
    color:#474747;
    font-size:30px;
    font-weight:700;
}
.resume-title{
    font-size: 25px;
    font-weight: 700;
    color:#474747;
    margin-bottom: 10px;
}
.resume-institute{
    font-size: 20px;
    font-weight: 500;
    color:#757575;
    margin-bottom: 20px;
    margin-bottom: 10px;
}
.resume-info{
    font-size: 16px;
    color:#757575;
}
hr{
    margin: 5px;
}
#center{
    text-align: center;
}
/* footer related style */

.footer{
   
    border-radius: 10px;
    background-color: #FFF8F3;
    margin-top: 50px;
    padding: 90px 120px;
    display:flex;
    gap: 100px;
}

.input-field{
    margin-bottom: 20px;
    display:block;
    padding:18px 35px;
    color: #757575;
    border: none;
    border-radius: 8px;
    width: 100%;
}
.footer-content{
    width:50%;
}
.social-links a{
    margin-right: 25px;
}